[Unit]
Description=Telegram Forwarder Bot with Flask UI
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/Kane-supper-auto-forward
ExecStart=/home/ubuntu/Kane-supper-auto-forward/venv/bin/python run_forwarder.py
Restart=always

[Install]
WantedBy=multi-user.target
